{% extends 'base.html.twig' %}

{% trans_default_domain 'my-domain' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <h2>Twig supported syntax</h2>
    <ul class="examples">
        {# trans tag #}
        <li>{% trans %}D_trans_tag{% endtrans %}</li>
        <li>{% trans with {'var1': 'val1', 'var2': 'val2'} %}D_trans_tag_with_variables{% endtrans %}</li>
        <li>{% trans with {'var1': 'val1', 'var2': 'val2'} from 'my-other-domain' %}D_trans_tag_with_variables_and_domain{% endtrans %}</li>
        <li>{% trans with {'var1': 'val1', 'var2': 'val2'} from 'my-other-domain' into 'en'%}D_trans_tag_with_variables_and_domain_and_locale{% endtrans %}</li>
        {# ICU examples from https://symfony.com/doc/current/translation/message_format.html#using-the-icu-message-format #}
        <li>{% trans with {'organizer_name': 'Ryan', 'organizer_gender': 'male'} %}D_trans_tag_with_variables_AB{% endtrans %}</li>
        <li>{% trans with {'organizer_name': 'John & Jane', 'organizer_gender': 'not_applicable'} %}D_trans_tag_with_variables_AB{% endtrans %}</li>

        {# |trans() tag #}
        <li>{{ 'D_trans_filter_empty'|trans }}</li>
        <li>{{ 'D_trans_filter_with_variable_as_param'|trans({'var1': 'val1', 'var2': 'val2'}) }}</li>

        {# t() function #}
        <li>{{ t('D_t_function_with_trans_filter')|trans }}</li>
        <li>{{ t('D_t_function_with_variables_with_trans_filter', {'var1': 'val1', 'var2': 'val2'})|trans }}</li>
        <li>{{ t('D_t_function_with_variables_and_domain_with_trans_filter', {'var1': 'val1', 'var2': 'val2'}, 'my-other-domain')|trans }}</li>
        <li>{{ t('D_t_function_with_trans_filter_and_locale')|trans('en') }}</li>
        <li>{{ t('D_t_function_with_variables_with_trans_filter_and_locale', {'var1': 'val1', 'var2': 'val2'})|trans('en') }}</li>
        <li>{{ t('D_t_function_with_variables_and_domain_with_trans_filter_and_locale', {'var1': 'val1', 'var2': 'val2'}, 'my-other-domain')|trans('en') }}</li>
    </ul>

    <h2>Twig unsupported syntax</h2>
    <ul class="examples">
        {# variables #}
        {% set D_t_function_in_a_variable = t('D_t_function_in_a_variable') %}
        <li>{{ D_t_function_in_a_variable|trans }}</li>
        {% set D_t_function_with_variables_in_a_variable = t('D_t_function_with_variables_in_a_variable', {'var1': 'val1', 'var2': 'val2'}) %}
        <li>{{ D_t_function_with_variables_in_a_variable|trans }}</li>
        {% set D_t_function_with_variables_and_domain_in_a_variable = t('D_t_function_with_variables_and_domain_in_a_variable', {'var1': 'val1', 'var2': 'val2'}, 'my-other-domain') %}
        <li>{{ D_t_function_with_variables_and_domain_in_a_variable|trans }}</li>

        {% set D_message_key_in_a_variable = 'D_message_key_in_a_variable' %}
        <li>{{ D_message_key_in_a_variable|trans }}</li>
    </ul>
{% endblock %}
