{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <h2>Twig supported syntax</h2>
    <ul class="examples">
        {# trans tag #}
        <li>{% trans %}ND_trans_tag{% endtrans %}</li>
        <li>{% trans with {'var1': 'val1', 'var2': 'val2'} %}ND_trans_tag_with_variables{% endtrans %}</li>
        <li>{% trans with {'var1': 'val1', 'var2': 'val2'} from 'my-other-domain' %}ND_trans_tag_with_variables_and_domain{% endtrans %}</li>
        <li>{% trans with {'var1': 'val1', 'var2': 'val2'} from 'my-other-domain' into 'en'%}ND_trans_tag_with_variables_and_domain_and_locale{% endtrans %}</li>
        {# ICU examples from https://symfony.com/doc/current/translation/message_format.html#using-the-icu-message-format #}
        <li>{% trans with {'organizer_name': 'Ryan', 'organizer_gender': 'male'} %}ND_trans_tag_with_variables_AB{% endtrans %}</li>
        <li>{% trans with {'organizer_name': 'John & Jane', 'organizer_gender': 'not_applicable'} %}ND_trans_tag_with_variables_AB{% endtrans %}</li>

        {# |trans() filter #}
        <li>{{ 'ND_trans_filter_empty'|trans }}</li>
        <li>{{ 'ND_trans_filter_with_variable_as_param'|trans({'var1': 'val1', 'var2': 'val2'}) }}</li>

        {# t() function #}
        <li>{{ t('ND_t_function_with_trans_filter')|trans }}</li>
        <li>{{ t('ND_t_function_with_variables_with_trans_filter', {'var1': 'val1', 'var2': 'val2'})|trans }}</li>
        <li>{{ t('ND_t_function_with_variables_and_domain_with_trans_filter', {'var1': 'val1', 'var2': 'val2'}, 'my-other-domain')|trans }}</li>
        <li>{{ t('ND_t_function_with_trans_filter_and_locale')|trans('en') }}</li>
        <li>{{ t('ND_t_function_with_variables_with_trans_filter_and_locale', {'var1': 'val1', 'var2': 'val2'})|trans('en') }}</li>
        <li>{{ t('ND_t_function_with_variables_and_domain_with_trans_filter_and_locale', {'var1': 'val1', 'var2': 'val2'}, 'my-other-domain')|trans('en') }}</li>

        {# variables #}
        {% set ND_t_function_in_a_variable = t('ND_t_function_in_a_variable') %}
        <li>{{ ND_t_function_in_a_variable|trans }}</li>
        {% set ND_t_function_with_variables_in_a_variable = t('ND_t_function_with_variables_in_a_variable', {'var1': 'val1'}) %}
        {% set ND_t_function_with_variables_in_a_variable = t('ND_t_function_with_variables_in_a_variable', {'var1': 'val1', 'var2': 'val2', 'var3': 'val3'}) %}
        {% set ND_t_function_with_variables_in_a_variable = t('ND_t_function_with_variables_in_a_variable', {'var1': 'val1', 'var2': 'val2'}) %}
        <li>{{ ND_t_function_with_variables_in_a_variable|trans }}</li>
        {% set ND_t_function_with_variables_and_domain_in_a_variable = t('ND_t_function_with_variables_and_domain_in_a_variable', {'var1': 'val1', 'var2': 'val2'}, 'my-other-domain') %}
        <li>{{ ND_t_function_with_variables_and_domain_in_a_variable|trans }}</li>
    </ul>

    <h2>Twig unsupported syntax</h2>
    <ul class="examples">
        {# variables #}
        {% set ND_message_key_in_a_variable = 'ND_message_key_in_a_variable' %}
        <li>{{ ND_message_key_in_a_variable|trans }}</li>
    </ul>
{% endblock %}
