{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <h1>Translation examples</h1>

    {% include 'test/php.html.twig' %}

    <h2>Twig</h2>
    <ul>
        {# ICU examples from https://symfony.com/doc/current/translation/message_format.html#using-the-icu-message-format #}
        <li>{% trans with {'organizer_name': 'Ryan', 'organizer_gender': 'male'} %}trans_tag_with_variables_AB{% endtrans %}</li>
        <li>{% trans with {'organizer_name': 'John & Jane', 'organizer_gender': 'not_applicable'} %}trans_tag_with_variables_AB{% endtrans %}</li>

        {# |trans() tag #}
        <li>{{ 'trans_filter_empty'|trans }}</li>
        <li>{{ 'trans_filter_with_variable_as_param'|trans({'var1': 'val1', 'var2': 'val2'}) }}</li>

        {# t() function #}
        <li>{{ t('t_function_with_variable_with_trans_filter', {'var1': 'val1', 'var2': 'val2'})|trans }}</li>
        <li>{{ t('t_function_with_variable_with_trans_filter_and_locale', {'var1': 'val1', 'var2': 'val2'})|trans('it') }}</li>

        {# Unsupported syntax #}
        {% set t_function_in_a_variable = t('t_function_in_a_variable', {'var1': 'val1', 'var2': 'val2'}) %}
        <li>{{ t_function_in_a_variable|trans }}</li>
        {% set message_key_in_a_variable = 'message_key_in_a_variable' %}
        <li>{{ message_key_in_a_variable|trans }}</li>
    </ul>
{% endblock %}
